/* Login in page styles */


/* Core codes for input fields  */
.form-control {
    width: 100%;
    color: #F5F5F6 !important;
    padding: 10px;
    height: auto;
    border: 1px solid #757575;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: none;
    box-sizing: border-box;
    transition: all .2s linear;
    font-size: 16px;
}

/* placeholder color */
::-webkit-input-placeholder {
    color: rgba(232, 232, 232, 0.86) !important;
}

:-moz-placeholder {
    color: rgba(232, 232, 232, 0.86) !important;
}

::-moz-placeholder {
    color: rgba(232, 232, 232, 0.86) !important;
}

:-ms-input-placeholder {
    color: rgba(232, 232, 232, 0.86) !important;
}

/* Customize style for inputs */
.loginInput {
    height: 3rem;
    border: 2px solid #fff;
    background-repeat: no-repeat;
    background-position: 2%;
    padding-left: 6%;
}

.form-control.is-invalid {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e") !important;
}

input:focus {
    border-color: #17BCB9 !important;
    outline: 0 !important;
    box-shadow: none !important;
}

.inputArea {
    position: relative;
}

.loginIcon {
    position: absolute;
    left: 2%;
    top: 46px;
}


@media (min-width: 992px) {
    .w-lg-25 {
        width: 25% !important;
    }
}

/* Forget pwd button */
#forgetPassword:hover {
    color: #17BCB9;
    background-color: #fff;
    outline: 0;
}

::selection{
    background-color: #17bcb9;
    color: #000;
}


/* Error message*/
.alert-danger{
    background-color: rgba(248, 215, 218, 0.75) !important;
}
