/* Login in page styles */


/* Core codes for input fields  */
.form-control{
    width: 100%;
    color: #F5F5F6 !important;
    padding: 10px;
    height: auto;
    border: 1px solid #757575;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: none;
    box-sizing: border-box;
    transition: all .2s linear;
    font-size: 16px;
}

/* placeholder color */
::-webkit-input-placeholder{
    color: rgba(232, 232, 232, 0.86) !important;
}
:-moz-placeholder{
    color: rgba(232, 232, 232, 0.86) !important;
}
::-moz-placeholder{
    color: rgba(232, 232, 232, 0.86) !important;
}
:-ms-input-placeholder{
    color: rgba(232, 232, 232, 0.86) !important;
}

/* Customize style for inputs */
#loginUsername,#loginUserPassword{
    height: 3rem;
    border:2px solid #fff;
    background-repeat: no-repeat;
    background-position: 2%;
    padding-left: 9%;
}

input:focus{
    border-color: #17BCB9 !important;
    outline: 0 !important;
    box-shadow: none !important;
}


/* error message style */
.msg-uname,.msg-pwd{
    height: 20px;
    color: red;
}



@media (min-width: 992px) {
    .w-lg-25{
        width: 25% !important;
    }
}

#forgetPassword:hover{
    color: #17BCB9;
    background-color: #fff;
    outline: 0;
}
