/* Customize Styles for shelbourne website  */
.text-shelbourne{
    color: #01ab9d;
}


.btn-shelbourne {
    color: #fff;
    background-color: #01ab9d;
    border-color: #01ab9d;
}
.btn-shelbourne:hover {
    color: #01ab9d;
    background-color: #fff;
    border-color: #01ab9d;
}
.btn-check:focus + .btn-shelbourne, .btn-shelbourne:focus {
    color: #fff;
    background-color: #01ab9d;
    border-color: #01ab9d;
    box-shadow: 0 0 0 0.25rem rgba(23,188,185,0.5);
}
.btn-check:checked + .btn-shelbourne, .btn-check:active + .btn-shelbourne, .btn-shelbourne:active, .btn-shelbourne.active, .show > .btn-shelbourne.dropdown-toggle {
    color: #fff;
    background-color: #01ab9d;
    border-color: #01ab9d;
}
.btn-check:checked + .btn-shelbourne:focus, .btn-check:active + .btn-shelbourne:focus, .btn-shelbourne:active:focus, .btn-shelbourne.active:focus, .show > .btn-shelbourne.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.25rem rgba(23,188,185,0.5);
}
.btn-shelbourne:disabled, .btn-shelbourne.disabled {
    color: #fff;
    background-color: #01ab9d;
    border-color: #01ab9d;
}


.btn-outline-shelbourne {
    color: #01ab9d;
    height: 44px;
    line-height: 30px;
    border: 2px solid #01ab9d;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}
.btn-outline-shelbourne:hover {
    color: #fff;
    background-color: #01ab9d;
    border-color: #01ab9d;
}
.btn-check:focus + .btn-outline-shelbourne, .btn-outline-shelbourne:focus {
    box-shadow: 0 0 0 0.25rem rgba(23,188,185,0.5);
}
.btn-check:checked + .btn-outline-shelbourne, .btn-check:active + .btn-outline-shelbourne, .btn-outline-shelbourne:active, .btn-outline-shelbourne.active, .btn-outline-shelbourne.dropdown-toggle.show {
    color: #fff;
    background-color: #01ab9d;
    border-color: #01ab9d;
}
.btn-check:checked + .btn-outline-shelbourne:focus, .btn-check:active + .btn-outline-shelbourne:focus, .btn-outline-shelbourne:active:focus, .btn-outline-shelbourne.active:focus, .btn-outline-shelbourne.dropdown-toggle.show:focus {
    box-shadow: 0 0 0 0.25rem rgba(23,188,185,0.5);
}
.btn-outline-shelbourne:disabled, .btn-outline-shelbourne.disabled {
    color: #01ab9d;
    background-color: transparent;
}
